extends base.pug
block scripts
    script(src='/public/index.js')

block style
    style
        include ../public/stylesheets/about.css
        include ../public/stylesheets/style.css
block content
    section.about-container
        div#box1home About Our Studio
        div#box2home 
            div 
            p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
        div#box3home
        div.team 
            h2 Our Team
        div#box4home

            //- img(src="/public/img/team1.jpg" alt="team1")
        div#box5home
            //- img(src="/static/img/team2.jpg" alt="team1")
        div#box6home
            //- img(src="/static/img/team3.jpg" alt="team1")
        div#box7home
            //- img(src="/static/img/team4.jpg" alt="team1")
        div#box8home    
            div.name Nirbhay Krishna
            div.role Founder
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptatum.
        div#box9home    
            div.name Nirbhay Krishna
            div.role Residential Interior Designer
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptatum.
        div#box10home    
            div.name Nirbhay Krishna
            div.role Corporate and Offie Interior Designer
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptatum.
        div#box11home    
            div.name Nirbhay Krishna
            div.role Customer Relations Manager
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolores? Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptatum.

