extends base.pug
block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/stylesheets/portfolio.css
        include ../static/stylesheets/style.css
block content
    section.portfolio-container
        div.box
            div.item1.auto Portfolio
        div.box

            div.item2.auto
                a(href="/projects")
                    img(width="300" height="300" src="/static/img/home2.jpg" alt="") 
                    div.mask
                        h2 Project 1 
                        div.link 
                            a(href="/projects") About project
            div.item2.auto.image
                a(href="#project")
                    img(width="300" height="300" src="/static/img/home1.jpg" alt="") 
                    div.mask
                        h2 Project 2
                        div.link 
                            a(href="#project") About project

            div.item2.auto.image    
                a(href="#project")
                    img(width="300" height="300" src="/static/img/home3.jpg" alt="") 
                    div.mask
                        h2 Project 3
                        div.link 
                            a(href="#project") About project
        
        div.box

            div.item2.auto
                a(href="#project")
                    img(width="300" height="300" src="/static/img/home2.jpg" alt="") 
                    div.mask
                        h2 Project 4
                        div.link 
                            a(href="#project") About project
            div.item2.auto.image
                a(href="#project")
                    img(width="300" height="300" src="/static/img/home2.jpg" alt="") 
                    div.mask
                        h2 Project 5
                        div.link 
                            a(href="#project") About project

            div.item2.auto.image    
                a(href="#project")
                    img(width="300" height="300" src="/static/img/home2.jpg" alt="") 
                    div.mask
                        h2 Project 6
                        div.link 
                            a(href="#project") About project                    