extends base.pug
block scripts
    script(src='/public/index.js')

block style
    style
        include ../public/stylesheets/projects.css
        include ../public/stylesheets/style.css
block content
    section.portfolio-container
        div.box
            div.item1.auto Project
        div.box
            div.item2.auto
        div.box
            div.item3.auto
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quaerat eveniet reprehenderit molestiae impedit iste, praesentium voluptatibus perspiciatis explicabo illo. Fuga nam, aperiam accusamus consequuntur ad ea porro delectus beatae et, quam ut, dolorum at. Inventore unde dolores optio aut, deleniti quas blanditiis, quis eaque facere quaerat eveniet accusamus incidunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eaque itaque rem, est sit eveniet enim, eius amet ducimus pariatur porro maiores adipisci alias fugit nisi distinctio beatae, quidem tenetur! Doloribus amet maxime, nostrum hic illum laudantium, praesentium blanditiis distinctio eveniet rem excepturi voluptas, earum impedit nisi architecto saepe deserunt neque? Nulla adipisci et odit quos blanditiis. Optio, natus veniam perspiciatis labore eaque aliquam quas? Inventore sed adipisci consectetur tenetur, officia, eligendi a doloremque libero repellat dolor cum. Iure minima consequatur, deleniti, vitae atque, delectus officia consectetur minus magni dolorum voluptatem corporis in nihil autem accusantium vero sunt ad omnis.
            div.item4
                a(href="/portfolio") Back to Portfolio